
body{
    background-image: url("/image/sunset.jpg");
    background-size: cover;
}

div, h1 small, h2, h3, li{
    color: #0f0f0f;
}

#avatar{
    border-radius: 88px;
    margin-top: 100px;
    width: 90%;
}

#left_nav{
    margin-top: 30px;
    list-style: none;
    padding: 0;
}
#left_nav li{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#middle_column{
    padding-top: 10px;
}

#middle_column nav {
    background: rgba(0,0,0,0.3);
    border: none;
    border-radius: 5px;
}
#middle_column nav div a {
    font-weight: bold;
    color: white;
}
.col-md-3 .thumbnail .caption p{
    margin-bottom: 0;
}

.thumbnail img, .item img{
    border-radius: 5px;
}

.row div .thumbnail{
    background: transparent;
    border: none;
}
.row div .thumbnail div p{
    font-weight: bold;
    color: white;
}

div .pagination li a{
    background: rgba(0,0,0,0.3);
    color: #fff;
}

#carousel-909456 .carousel-inner .item{

}
