body{
    background-image: url("/image/sunset.jpg");
    background-size: cover;
}
div, h1 small, h2, h3, li{
    color: #0f0f0f;
}

#avatar{
    border-radius: 88px;
    margin-top: 100px;
    width: 90%;
}

#left_nav{
    margin-top: 30px;
    list-style: none;
    padding: 0;
}
#left_nav li{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

#carousel-161390{
    margin-top: 50px;
}

.col-md-6 table{
    margin-top: 10px;
}

#game_logo_bar{
    margin-top: 50px;
    padding: 0;
}

#game_logo img{
    border-radius: 5px;
}

.friend_avatar{
    display: inline-block;
}
.col-md-6 table tbody tr td{
    border: none;
    color: cyan;
    font-size: 18px;
}