<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>好友</title>

    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7/css/bootstrap.css}"/>

    <link rel="stylesheet" th:href="@{css/myfriends.css}" />

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script th:src="@{js/jquery-3.3.1.js}"></script>

</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div id="left_bar" class="col-md-2 column" th:align="center">
            <img id="avatar" alt="" th:src="${player.avatarfull}"/>
            <h3>
                <i class="fab fa-steam-square"></i> <span th:text="${player.personaname}"></span>
            </h3>
            <h4 th:text="|Lv.${level}|"></h4>
            <h5 th:text="${onlineStatus}">
            </h5>
            <ol id="left_nav">
                <li><a href="#0"><i class="fas fa-home"></i> 概览</a></li>
                <li><a th:href="|/gamesController?steamid=${steamid}|"><i class="fas fa-gamepad"></i> 游戏</a></li>
                <li class="active"><i class="fas fa-users"></i> 好友</li>
                <li><a href="#0"><i class="fas fa-gem"></i> 成就</a></li>
                <li></li>
                <li></li>
                <li id="log_out"><a href="/logoutController"><i class="fas fa-power-off"></i> 登出</a></li>
            </ol>
        </div>
        <div class="col-md-10 column">
            <div class="page-header">
                <h1>
                    Example page header <small>Subtext for header</small>
                </h1>
            </div>
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-1">
                                编号
                            </th>
                            <th class="col-md-4">
                                好友
                            </th>
                            <th class="col-md-3">
                                成为好友时间
                            </th>
                            <th class="col-md-3">
                                至今
                            </th>
                            <th class="col-md-1">
                                视角
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Monthly
                            </td>
                            <td>
                                2012
                            </td>
                            <td>
                                Default
                            </td>
                            <td>
                                ->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 column">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                ICON
                            </th>
                            <th>
                                名称
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Monthly
                            </td>
                            <td>
                                2012
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" th:value="${steamid}" id="steamid"/>

<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script th:src="@{js/popper.min.js}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{bootstrap-3.3.7/js/bootstrap.js}"></script>

<script th:src="@{js/myfriends.js}"></script>
</body>
</html>