<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"/>

    <title>我的游戏</title>

    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7/css/bootstrap.css}"/>

    <link rel="stylesheet" th:href="@{css/mygames.css}" />

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script th:src="@{js/jquery-3.3.1.js}"></script>

    <script th:src="@{https://use.fontawesome.com/releases/v5.0.6/js/all.js}"></script>

</head>
<body>
    <div class="container">
        <div class="row clearfix">

            <div id="left_bar" class="col-md-2 column" th:align="center">
                <img id="avatar" alt="" th:src="${player.avatarfull}"/>
                <h3>
                    <i class="fab fa-steam-square"></i> <span th:text="${player.personaname}"></span>
                </h3>
                <h4 th:text="|Lv.${level}|"></h4>
                <h5 th:text="${onlineStatus}">
                </h5>
                <ol id="left_nav">
                    <li><a href="#0"><i class="fas fa-home"></i> 概览</a></li>
                    <li class="active"><i class="fas fa-gamepad"></i> 游戏</li>
                    <li><a href="#0"><i class="fas fa-users"></i> 好友</a></li>
                    <li><a href="#0"><i class="fas fa-gem"></i> 成就</a></li>
                    <li></li>
                    <li></li>
                    <li id="log_out"><a href="/logoutController"><i class="fas fa-power-off"></i> 登出</a></li>
                </ol>
            </div>
            <div class="col-md-10 column">
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <div class="page-header">
                            <h1>
                                <small>数据</small>
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-6 column">
                        <div class="page-header">
                            <h1>
                                <small>最爱</small>
                            </h1>
                        </div>


                        <div class="carousel slide" id="carousel-909456">

                        </div>


                    </div>
                </div>
                <div class="row clearfix">
                    <div id="middle_column" class="col-md-12 column">
                        <nav class="navbar navbar-default navbar-static-top" role="navigation">
                            <div class="navbar-header">
                                <a id="my_game_lib" class="navbar-brand" href="#0">我的游戏库</a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav pull-right">
                                    <!--<li class="dropdown">-->
                                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="排序方式"><strong class="caret"></strong></a>-->
                                        <!--<ul class="dropdown-menu">-->
                                            <!--<li>-->
                                                <!--<a href="#" th:text="总时长"></a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                                <!--<a href="#" th:text="两周时长"></a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                                <!--<a href="#" th:text="游戏ID"></a>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    <!--</li>-->
                                </ul>
                                <form id="find_game" class="navbar-form navbar-left pull-right" role="search" onkeydown="if(event.keyCode==13)return false;">
                                    <div class="form-group">
                                        <input id="key_word" type="text" class="form-control" />
                                    </div>
                                    <button id="find" type="button" class="btn btn-default" >搜！</button>
                                </form>
                            </div>

                        </nav>
                        <div class="row" id="game_show">
                            <div></div>
                        </div>
                        <div th:align="center" id="page_box">
                            <div id="page_bar">
                                <ul class="pagination">
                                    <li>
                                        <a href="#0"><i class="fas fa-angle-double-left"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fas fa-angle-left"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0">1</a>
                                    </li>
                                    <li>
                                        <a href="#0">2</a>
                                    </li>
                                    <li>
                                        <a href="#0">3</a>
                                    </li>
                                    <li>
                                        <a href="#0">4</a>
                                    </li>
                                    <li>
                                        <a href="#0">5</a>
                                    </li>
                                    <li>
                                        <a href="/nextPage?currentPage=1"><i class="fas fa-angle-right"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0" id="tail"><i class="fas fa-angle-double-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div id="page_msg">
                                <!--<p>当前第 <span th:text="${currentPage}"></span> 页，共 <span th:text="${ownedgames.size()/12}"></span>页</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <input type="hidden" th:value="${steamid}" id="steamid"/>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script th:src="@{js/popper.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{bootstrap-3.3.7/js/bootstrap.js}"></script>

    <script th:src="@{js/mygames.js}"></script>

</body>
</html>