<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>我的游戏</title>

    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7/css/bootstrap.css}"/>

    <!--<link rel="stylesheet" th:href="@{css/mygames.css}" />-->

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script th:src="@{js/jquery-3.3.1.js}"></script>

</head>
<body>


    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script th:src="@{js/popper.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{bootstrap-3.3.7/js/bootstrap.js}"></script>

    <script th:src="@{js/mygames.js}"></script>
</body>
</html>