<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>游戏详情</title>

    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7/css/bootstrap.css}"/>

    <link rel="stylesheet" th:href="@{css/mygame.css}" />

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script th:src="@{js/jquery-3.3.1.js}"></script>

    <script th:src="@{https://use.fontawesome.com/releases/v5.0.6/js/all.js}"></script>

</head>
<body>
<div class="container">
    <div class="row clearfix">

        <div id="left_bar" class="col-md-2 column" th:align="center">
            <img id="avatar" alt="" th:src="${player.avatarfull}"/>
            <h3>
                <i class="fab fa-steam-square"></i> <span th:text="${player.personaname}"></span>
            </h3>
            <h4 th:text="|Lv.${level}|"></h4>
            <h5 th:text="${onlineStatus}">
            </h5>
            <ol id="left_nav">
                <li><a href="#0"><i class="fas fa-home"></i> 概览</a></li>
                <li class="active"><i class="fas fa-gamepad"></i> 游戏</li>
                <li><a href="#0"><i class="fas fa-users"></i> 好友</a></li>
                <li><a href="#0"><i class="fas fa-gem"></i> 成就</a></li>
                <li></li>
                <li></li>
                <li id="log_out"><a href="/logoutController"><i class="fas fa-power-off"></i> 登出</a></li>
            </ol>
        </div>

        <div class="col-md-6 column">
            <div class="carousel slide" id="carousel-161390">

            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        好友
                    </th>
                    <th>
                        时长
                    </th>
                    <th>
                        成就状态
                    </th>
                </tr>
                </thead>
                <tbody id="friendsplay">
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <div class="friend_avatar">
                            <img src="" alt=""/>
                        </div>
                        <span>friend name</span>
                    </td>
                    <td>
                        <span>times</span>
                    </td>
                    <td>
                        Default
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-4 column">
            <div class="col-md-12" id="game_logo_bar">
                <div id="game_logo">
                    <img class="pull-left" th:src="${theGame.imgLogoUrl}" alt=""/>
                    <p style="display: inline-block">123h</p>
                    <p style="display: inline-block">12h</p>
                </div>
            </div>
            <div>

            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        编号
                    </th>
                    <th>
                        成就
                    </th>
                    <th>
                        达成时间
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        TB - Monthly
                    </td>
                    <td>
                        01/04/2012
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<input type="hidden" th:value="${steamid}" id="steamid"/>
<input type="hidden" th:value="${appid}" id="appid"/>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script th:src="@{js/popper.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{bootstrap-3.3.7/js/bootstrap.js}"></script>

    <script th:src="@{js/mygame.js}"></script>
</body>
</html>